*.csv filter=lfs diff=lfs merge=lfs -text
*.h5 filter=lfs diff=lfs merge=lfs -text
*.model filter=lfs diff=lfs merge=lfs -text
data/**/*.json filter=lfs diff=lfs merge=lfs -text
config/*.json filter=lfs diff=lfs merge=lfs -text
# docs/*.json should NOT be in LFS (for GitHub Pages)
